*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
}
body{
  font-size: 12px;
  font-weight: normal;
}
.header{
  padding: 10px;
  margin-top: 5px;
  background-color: steelblue;
}
.frame{
  display: flex;
  align-content: center;
  align-items: center;
  margin-top: 30px;
}
.body-front{
  display: flex;
  width: 90%;
  align-content: center;
  align-items: center;
}
.center{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
h1{
  font-size: 36px;
  display: inline-block;
  width: 40%;
  margin-left: 10px;
  font-weight: lighter;
  color:#FDFFFC;
}
.sub-title{
  display: inline-block;
  width: 55%;
  font-size: 24px;
  font-weight: lighter;
  text-align: right;
  color:white;
}
.school{
  font-size: 20px;
  margin-top:5px;
  margin-left: 10px;
  color: white;
}
.main{
  display: flex;
  font-size: 16px;
  background-color: steelblue;
  padding: 10px;
}
.main li {
  list-style: none;
  flex: auto;
}
.main a {
  margin-left: 10px;
  text-decoration: none;
  color:#FCFCFF;
  padding:10px 0 25px ;
  font-size: 18px;
}
.section {
  margin-top: 35px;
  margin-left:30px; 
}

.title-body{
  font-size: 24px;
  text-align: center;
  padding-bottom: 20px;
  font-family: 'Merriweather', serif;
}
.text-section{
  font-size: 20px;
  text-align: center;
  font-weight: normal;
}
.img-section {
  width:16%;
  display: inline-block;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 150px; 
}
.description{
  display: inline-block;
  width: 50%;
  margin-left: 20px;
}
.img-section img {
  width: 100%;
}
.description-mine{
  margin-top: 25px;
  display: inline-block;
  width: 50%;
  margin-left: 20px;
}
.paragraph{
  line-height: 1.5em;
}
.premios{
  margin-top: 50px;
}
dt{
  font-size: 20px;
  font-weight: 500;
  line-height: 1.3em;
  margin-left: 10px;
}
dd{
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5em;
  margin-left: 35px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.footer{
  display: inline-flex;
  width: 40%;
}
.footer img {
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.title-front{
  color: black;
}
.front-article{
  margin-top: 30px;
}

.front-p{
  font-weight: normal;
  font-size: 18px;
  text-align: center;
}
h4{
  font-weight: normal;
  font-size: 24px;
  text-align: center;
}

.html{
  margin-top:20px;
}
.laravel{
  width: 30%;
}